<section class="laatste-publicaties">

    {% for publication in datedpublications %}
        <article href="/publication/{{ publication.id }}">
            <img src="{% if publication.photo %}https://fdnd-agency.directus.app/assets/{{ publication.photo }}{% else %}https://media.istockphoto.com/id/887464786/vector/no-cameras-allowed-sign-flat-icon-in-red-crossed-out-circle-vector.jpg?s=612x612&w=0&k=20&c=LVkPMBiZas8zxBPmhEApCv3UiYjcbYZJsO-CVQjAJeU={% endif %}" alt="publicatie-foto" width="100p" height="100p">
        </article>
    {% endfor %}

</section>

<section class="wordt-partner">

</section>

<section class="leden">
    
</section>

<footer>
    
    
</footer>

</body>
</html>