<section id="laatste-publicaties">

    {% for publication in datedpublications %}
        <article href="/publication/{{ publication.id }}">
            <img src="{% if publication.photo %}https://fdnd-agency.directus.app/assets/{{ publication.photo }}{% else %}https://media.istockphoto.com/id/887464786/vector/no-cameras-allowed-sign-flat-icon-in-red-crossed-out-circle-vector.jpg?s=612x612&w=0&k=20&c=LVkPMBiZas8zxBPmhEApCv3UiYjcbYZJsO-CVQjAJeU={% endif %}" alt="publicatie-foto" width="100p" height="100p">
        </article>
    {% endfor %}

</section>

<section id="wordt-partner">

</section>

<section id="leden">
    
</section>

<footer>
    {% comment %} social media links {% endcomment %}
    <div id="social-media-links">
        <a href="https://www.instagram.com/dutchdigitalagencies/"></a>
        <a href="https://www.facebook.com/dutchdigitalagencies"></a>
        <a href="https://www.linkedin.com/company/dutch-digital-agencies/"></a>
    </div>

    <div id="contact">
        <a href="tel:+31854010391"></a>
        <a href="mailto:info@dutchdigitalagencies.com"></a>
    </div>

    <div id="logo-dda-footer">
        <img src="/assets/dda-logo-white.svg" height="200p" alt="DDA logo">
    </div>

    <div id="navigatie-footer">
        <a href="/over-ons">Over Ons</a>
        <a href="/events">Events</a>
        <a href="/publicaties">Publicaties</a>
        <a href="/leden">Leden</a>
        <a href="/vacatures">Vacatures</a>
        <a href="https://www.datocms-assets.com/144536/1740403116-privacy-policy-dutch-digital-agencies.pdf">Privacy Beleid</a>
    </div>

    <div id="adres-footer">
        <p> Dutch Digital Agencies
            Overhoeksplein 1
            1031 KS Amsterdam</p>
    </div>

    <div id="copyright">
        <p>Copyright © 2025 Dutch Digital Agencies</p>
    </div>
</footer>

</body>
</html>