<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDA</title>

    {% comment %} CSS {% endcomment %}
    <link href="../style/stylesheet.css" rel="stylesheet">
    <link href="../style/general-style.css" rel="stylesheet">
    <link href="../style/form-filter-element.css" rel="stylesheet">
    <link href="../style/animation.css" rel="stylesheet">
    <link href="../style/publication.css" rel="stylesheet">

    {% comment %} Fonts and Icons {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
 
    <script src="../script/darkmode.js" defer></script>
    <script src="../script/form.element.js" defer></script>
    <script src="../script/openingcomment.js" defer></script>
</head>

<body>
    <header id="mobile-header">
        <img src="/assets/d_logo.svg" height="100p" width="100p" alt="DDA logo">
        {% comment %} Het is het beste dit te gebruiken volgens de sprint review {% endcomment %}
        <div id="dropdown-menu">
            <select>
                <option> Publicaties </option>
                <option> Over Ons </option>
                <option> Events </option>
                <option> Leden </option>
                <option> Vacatures </option>
                {% comment %} Dit moet met javascript gemaakt worden (zodat de links werken) {% endcomment %}
            </select>
        </div>
    </header>

    <header id="desktop-header">
        <div id="logo-placement">
            <img src="/assets/d_logo.svg" height="100p" width="100p" alt="DDA logo">
        </div>

        <div id="navigation-bar">
            <a href="/over-ons">Over Ons</a>
            <a href="/events">Events</a>
            <a href="/publicaties">Publicaties</a>
            <a href="/leden">Leden</a>
            <a href="/vacatures">Vacatures</a>
        </div>

        <div id="sign-up">
            <i class="fa-solid fa-right-to-bracket"></i>
            <i class="fa-solid fa-star"></i>
        </div>
        
        <div id="darkmode">
            <button id="darkmode-button"> <i class="fa-solid fa-moon"></i> </button>
        </div>
    </header>
