<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDA</title>
</head>
<body>
    <header id="mobile-header">
        <img src="/assets/dda-logo-white.svg" height="200p" alt="DDA logo">
        {% comment %} Het is het beste dit te gebruiken volgens de sprint review {% endcomment %}
        <div id="dropdown-menu">
            <select>
                <option> Publicaties </option>
                <option> Over Ons </option>
                <option> Events </option>
                <option> Leden </option>
                <option> Vacatures </option>
                {% comment %} Dit moet met javascript gemaakt worden (zodat de links werken) {% endcomment %}
            </select>
        </div>
    </header>

    <header id="desktop-mobile">
        <div id="logo-placement">
            <img src="/assets/dda-logo-white.svg" height="200p" alt="DDA logo">
        </div>

 

        <div id="navigation-bar">
            <a href="/over-ons">Over Ons</a>
            <a href="/events">Events</a>
            <a href="/publicaties">Publicaties</a>
            <a href="/leden">Leden</a>
            <a href="/vacatures">Vacatures</a>
        </div>

        <div id="sign-up">
            <a>Inloggen</a>
            <a>Word Lid</a>
        </div>
    </header>