<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDA</title>

    {% comment %} CSS {% endcomment %}
     <link href="./style/stylesheet.css" rel="stylesheet">
     <link href="./style/general-style.css" rel="stylesheet">

     {% comment %} Fonts and Icons {% endcomment %}
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
 
     <script src="./script/darkmode.js" defer></script>
</head>

<body>
    <header id="mobile-header">
        <img src="/assets/d_logo.svg" height="200p" alt="DDA logo">
        {% comment %} Het is het beste dit te gebruiken volgens de sprint review {% endcomment %}
        <div id="dropdown-menu">
            <select>
                <option> Publicaties </option>
                <option> Over Ons </option>
                <option> Events </option>
                <option> Leden </option>
                <option> Vacatures </option>
                {% comment %} Dit moet met javascript gemaakt worden (zodat de links werken) {% endcomment %}
            </select>
        </div>
    </header>

    <header id="desktop-mobile">
        <div id="logo-placement">
            <img src="/assets/dda-logo-white.svg" height="200p" alt="DDA logo">
        </div>

 

        <div id="navigation-bar">
            <a href="/over-ons">Over Ons</a>
            <a href="/events">Events</a>
            <a href="/publicaties">Publicaties</a>
            <a href="/leden">Leden</a>
            <a href="/vacatures">Vacatures</a>
        </div>

        <div id="sign-up">
            <a>Inloggen</a>
            <a>Word Lid</a>
        </div>

        <div class="darkmode">
            <button id="darkmode-button">Darkmode</button>
        </div>
    </header>