<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDA</title>
</head>
<body>
    <header class="mobile-header">
        {% comment %} Het is het beste dit te gebruiken volgens de sprint review {% endcomment %}
        <select name="publcaties" id="publicaties">Publciaties
        <option value="over-ons">Over ons</option>
        <option value="events">Events</option>
        <option value="leden">Leden</option>
        <option value="vacatures">Vacatures</option>
        </select>
    </header>