<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDA</title>
</head>
<body>
    <header id="mobile-header">
        <img src="/assets/dda-logo-white.svg" height="200p" alt="DDA logo">
        {% comment %} Het is het beste dit te gebruiken volgens de sprint review {% endcomment %}
         <div class="dropdown-menu">
            <select name="publcaties" id="publicaties">Publciaties
                <option value="over-ons">Over ons</option>
                <option value="events">Events</option>
                <option value="leden" href="/leden">Leden</option>
                <option value="vacatures" href="/vacatures">Vacatures</option>
            </select>
        </div>
    </header>

    <header id="desktop-mobile">
        <div id="logo-placement">
            <img src="/assets/dda-logo-white.svg" height="200p" alt="DDA logo">
        </div>

        <div id="navigation-bar">
            <a href="/over-ons">Over Ons</a>
            <a href="/events">Events</a>
            <a class="active">Publicaties</a>
            <a href="/leden">Leden</a>
            <a href="/vacatures">Vacatures</a>
        </div>

        <div id="sign-up">
            <a>Sign up</a>
            <a></a>
        </div>
    </header>