#mediabalk {
    height: var(--spacing-104);
    background-color: var(--color-blue-2);
    display: flex;
    align-items: center;

    #buttonstopic {
        justify-content: end;

        button {
            background-color: var(--color-blue);
            color: var(--color-white);
        }
    }
}

/* articles */

#publication {
    margin: var(--spacing-32);
    display: grid;
    grid-template-areas: 
    "photo topic . . "
    "photo title title title"
    "photo intro intro intro"
    "photo . . visit";
    gap: var(--spacing-32);

    #publication-photo {
        grid-area: photo;
    }

    #publication-title {
        grid-area: title;
    }

    #publication-intro {
        grid-area: intro;
    }

    #publication-visit {
        grid-area: visit;
        background-color: var(--color-blue);
        padding: var(--spacing-16);
        color: var(--color-white);
    }

    #publication-topic {
        grid-area: topic;
        background-color: var(--color-blue-2);
        padding: var(--spacing-8);
    }
}