
{% render './partials/header.liquid', title: 'DDA Publicaties' %}

<section class="introductie">
    <h1>Publciaties</h1>
    <p>Om er voor te zorgen dat ook jij op de hoogte blijft van het laatste nieuws en interessante opinies met betrekking tot onze branche en digitale innovaties, delen we hier alle content die we of zelf hebben gecreëerd, bijvoorbeeld met input van onze leden, of verkregen hebben via één van onze partners.</p>
</section>

{% render './partials/footter.liquid', title: 'DDA Publicaties' %}