{% include './partials/header.liquid', title: 'DDA Publicaties' %}

{{ publication | json }}

<section id="titel-pagina">
    <h1> {{ publication.title }} </h1>
    <p>  {{ publication.intro }} </p>
</section>

<section id="content-publicatie">
    {{ publication.content }}
</section>


{% include './partials/footer.liquid', title: 'DDA Publicaties' %}